@import './palette.scss';

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background-color: $white;
}

body:has(.welcome){
  background-color:  hsla(195, 100%, 33%, 0.5);;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
